/* tasks css */

#tasks {
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#tasksInput {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1em;
}

#tasksOutput {
	border: 1px solid red;
	max-width: 500px;
	min-width: 300px;
	max-height: 500px;
	overflow: scroll;
	background: white;
}

.mytasks {
	background-color: lightblue;
}
.friendstasks {
	background-color: lightgreen;
	font-style: italic;
}
