/* primary layout */

body {
	display: flex;
	flex-direction: row;
}

.leftCol {
	display: flex;
	flex-direction: column;
}

.rightCol {
	display: flex;
	flex-direction: column;
}

.taskContainer,
.myChatContainer {
	display: flex;
}

.friendsTaskContainer,
.friendChatContainer {
	display: flex;
	align-self: flex-end;
}

.profileImg {
	height: 70px;
}

.userImage {
	align-self: auto;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

/* friends/messages */

#chatroom-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border: solid red;
}

#chat-room {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: auto;
	border: 1px rgb(255, 0, 0) solid;
}

#friends-list {
	display: flex;
	flex-direction: column;
	/* width: 15%; */
	overflow: auto;
	/* height: 420px; */
	/* border-left: 0.01em solid black; */
	justify-content: center;
}

.message {
	/* border-bottom: 2px lightgray solid; */
	padding-left: 2%;
}

.message-value {
	margin-bottom: 0;
}

.friendCell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.friendEl {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#friends-container {
	display: flex;
	flex-direction: column;
	width: 18%;
	overflow: auto;
	height: 420px;
	border-left: 0.01em solid black;
}

.friendListImg {
	margin: 0.5em;
	margin-top: 0;
	height: 50px;
	width: 50px;
}

.chatImg {
	margin: 0.5em 1em;
	height: 50px;
	width: 50px;
	margin-top: 20px;
}
/* tasks css */

#tasks {
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#tasksInput {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1em;
}

#tasksOutput {
	border: 1px solid red;
	background: white;
	display: flex;
	flex-direction: column;
	width: inherit;
}

.myTasks,
.myMsg {
	background-color: lightblue;
	align-self: baseline;
	margin: 0.5em;
	padding: 0em 1.5em;
	border-radius: 5px 5px 5px 5px;
}
.friendsTasks,
.friendMsg {
	background-color: lightgreen;
	font-style: italic;
	align-self: flex-end;
	margin: 0.5em;
	padding: 0em 1.5em;
	border-radius: 5px 5px 5px 5px;
}

/* articles CSS */

#articles {
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#articlesInput {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1em;
}

#articlesOutput {
	border: 1px solid red;
	max-width: 500px;
	min-width: 300px;
	max-height: 500px;
	overflow: scroll;
	background: white;
}

.myArticles:first-child,
.friendsArticles:first-child {
	font-size: 1.5em;
}

.myArticles {
	background-color: lightblue;
}
.friendsArticles {
	background-color: lightgreen;
	font-style: italic;
}

/* events css */

#events {
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#eventsInput {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1em;
}

#eventsOutput {
	border: 1px solid red;
	max-width: 500px;
	min-width: 300px;
	max-height: 500px;
	overflow: scroll;
	background: white;
}

.myEvents:first-child,
.friendsEvents:first-child {
	font-size: 1.5em;
}

.myEvents {
	background-color: lightblue;
}
.friendsEvents {
	background-color: lightgreen;
	font-style: italic;
}

/* dropdown accordian */

.dropdown-content {
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: height 0ms 500ms, opacity 500ms 0ms;
}

.show {
	height: auto;
	opacity: 1;
	transition: height 0ms 0ms, opacity 800ms 0ms;
}

.dropBtn {
	cursor: pointer;
}

.noClick {
	pointer-events: none;
	pointer-events: none;
	width: 100%;
	display: flex;
	justify-content: center;
}

#myDropdown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: -webkit-fill-available;
}

/* text bubble arrow */

.arrow-left {
	width: 20px;
	height: 20px;
	background: linear-gradient(to bottom right, lightblue 50%, transparent 0);
	border-radius: 5px 0 0 0;
	transform: rotate(-45deg);
	position: relative;
	right: 34px;
	bottom: -27px;
}

.arrow-right {
	transform: rotate(136deg);
	position: relative;

	left: 106%;
	bottom: -20px;
}

.edit-button {
	position: relative;
	left: 29px;
	bottom: -5px;
	display: inline-block;
	padding: 0.1em 0.8em;
	padding-bottom: 0.2em;
	border: 0.07em solid white;
	margin: 0.3em;
	border-radius: 0.15em 0em 0em 0em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: rgb(255, 255, 255);
	text-align: center;
	transition: all 0.2s;
	background: rgba(255, 255, 255, 0);
	font-size: 0.7em;
	float: right;
}

.edit-button:hover {
	color: rgb(41, 54, 73);
	background-color: white;
	cursor: pointer;
}

.delete-button {
	position: relative;
	left: 29px;
	bottom: -5px;
	display: inline-block;
	padding: 0.1em 0.8em;
	padding-bottom: 0.2em;
	border: 0.07em solid white;
	margin: 0.3em;
	border-radius: 0.15em 0em 0em 0em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: rgb(255, 255, 255);
	text-align: center;
	transition: all 0.2s;
	background: rgba(255, 255, 255, 0);
	float: right;
	font-size: 0.7em;
}

.delete-button:hover {
	color: rgb(41, 54, 73);
	background-color: white;
	cursor: pointer;
}
