/* color scheme */

.leftCol {
	background-color: #95d1c7;
	border-radius: 10px;
	margin: 0.5em;
}

#tasks {
	background-color: #f4848a;
	margin: 0.5em;
	border-radius: 10px;
}

#articles {
	background-color: #f9a96a;
	margin: 0.5em;
	border-radius: 10px;
	border: solid white;
}

#events {
	background-color: #fcd681;
	margin: 0.5em;
	border-radius: 10px;
	border: solid white;
}

#chatroom-container {
	background-color: #a09ab2;
	margin: 0.5em;
	border-radius: 10px;
}

/* primary layout */

h1 {
	font-family: "Notable", sans-serif;
	letter-spacing: 5px;
}
body {
	display: flex;
	flex-direction: row;
	font-family: "Oswald", sans-serif;
	justify-content: center;
}

.leftCol {
	display: flex;
	flex-direction: column;
	padding-bottom: 2em;
	padding: 1em;
}

.rightCol {
	display: flex;
	flex-direction: column;
	max-width: 600px;
}

.taskContainer,
.myChatContainer,
.eventContainer,
.articleContainer {
	display: flex;
}

.friendsTaskContainer,
.friendChatContainer,
.friendEventContainer,
.friendArticleContainer {
	display: flex;
	align-self: flex-end;
}

.profileImg {
	height: 70px;
}

.userImage {
	align-self: auto;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

/* friends/messages */

#chatroom-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border: solid white;
	padding-bottom: 1em;
}

#chatroom-container > form {
	padding-top: 1em;
}

#chat-room {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: auto;
}

#friends-list {
	display: flex;
	flex-direction: column;
	/* width: 15%; */
	/* overflow: auto; */
	/* height: 420px; */
	/* border-left: 0.01em solid black; */
	justify-content: center;
}

#friend-search-container {
	border: 1px solid white;
	padding: 0.5em;
	margin: 1em, 0em;
	margin-top: 2em;
}

.friendsList {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.message {
	/* border-bottom: 2px lightgray solid; */
	padding-left: 2%;
}

.message-value {
	margin-bottom: 0;
}

.friendCell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.friendEl {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#friends-container {
	display: flex;
	flex-direction: column;
	width: 18%;
	overflow: auto;
	height: 420px;
	border-left: 0.01em solid black;
}

.friendListImg {
	margin: 0.5em;
	margin-top: 0;
	height: 50px;
	width: 50px;
}

.chatImg {
	margin: 0.5em 1em;
	height: 50px;
	width: 50px;
	margin-top: 20px;
}
/* tasks css */

#tasks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#tasksInput {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#tasksOutput {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	width: inherit;
	padding-bottom: 1em;
}

.myTasks,
.myMsg,
.myArticles {
	background-color: rgba(255, 255, 255, 0.473);
	align-self: baseline;
	margin: 0.5em;
	padding: 0em 1.5em;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid white;
	font-family: "Oswald", sans-serif;
}
.friendsTasks,
.friendMsg,
.friendsArticles {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	align-self: flex-end;
	margin: 0.5em;
	padding: 0em 1.5em;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid white;
	font-family: "Oswald", sans-serif;
}

/* articles CSS */

#articles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#articlesInput {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1em;
	align-items: center;
}

#articlesOutput {
	display: flex;
	flex-direction: column;
	width: inherit;
	padding-bottom: 1em;
}

/* .myArticles:first-child,
.friendsArticles:first-child {
	font-size: 1.5em;
} */

.myArticles {
	background-color: rgba(255, 255, 255, 0.473);
	align-self: baseline;
	margin: 0.5em;
	padding: 0em 1.5em;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid white;
	font-family: "Oswald", sans-serif;
}
.friendsArticles {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	align-self: flex-end;
	margin: 0.5em;
	padding: 0em 1.5em;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid white;
	font-family: "Oswald", sans-serif;
}
/* events css */

#events {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#eventsInput {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1em;
	align-items: center;
}

#eventsOutput {
	display: flex;
	flex-direction: column;
	width: inherit;
	padding-bottom: 1em;
}

/* .myEvents:first-child,
.friendsEvents:first-child {
	font-size: 1.5em;
} */

.myEvents {
	background-color: rgba(255, 255, 255, 0.473);
	align-self: baseline;
	margin: 0.5em;
	padding: 0em 1.5em;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid white;
	font-family: "Oswald", sans-serif;
}
.friendsEvents {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	align-self: flex-end;
	margin: 0.5em;
	padding: 0em 1.5em;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid white;
	font-family: "Oswald", sans-serif;
}

/* dropdown accordian */

.dropdown-content {
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: height 0ms 500ms, opacity 500ms 0ms;
}

.show {
	height: auto;
	opacity: 1;
	transition: height 0ms 0ms, opacity 800ms 0ms;
}

.dropBtn {
	cursor: pointer;
}

.noClick {
	pointer-events: none;
	pointer-events: none;
	width: 100%;
	display: flex;
	justify-content: center;
}

#myDropdown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: -webkit-fill-available;
}

/* text bubble arrow */

.arrow-left {
	width: 20px;
	height: 20px;
	background: linear-gradient(to bottom right, white 50%, transparent 0);
	border-radius: 5px 0 0 0;
	transform: rotate(-45deg);
	position: relative;
	right: 34px;
	bottom: -27px;
}

.arrow-right {
	transform: rotate(136deg);
	position: relative;

	left: 106%;
	bottom: -20px;
}

.edit-button {
	position: relative;
	left: 29px;
	bottom: -5px;
	display: inline-block;
	padding: 0.1em 0.8em;
	padding-bottom: 0.2em;
	border: 0.07em solid white;
	margin: 0.3em;
	border-radius: 5px 0px 5px 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: rgb(0, 0, 0);
	text-align: center;
	transition: all 0.2s;
	background: rgba(255, 255, 255, 0);
	font-size: 0.8em;
	float: right;
}

.edit-button:hover {
	color: rgb(41, 54, 73);
	background-color: white;
	cursor: pointer;
}

.delete-button {
	position: relative;
	left: 29px;
	bottom: -5px;
	display: inline-block;
	padding: 0.1em 0.8em;
	padding-bottom: 0.2em;
	border: 0.07em solid white;
	margin: 0.3em;
	border-radius: 5px 0px 5px 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: rgb(0, 0, 0);
	text-align: center;
	transition: all 0.2s;
	background: rgba(255, 255, 255, 0);
	float: right;
	font-size: 0.8em;
}

.delete-button:hover {
	color: rgb(41, 54, 73);
	background-color: white;
	cursor: pointer;
}

.submitBtn {
	display: inline-block;
	padding: 0.1em 1.5em;
	border: 0.07em solid white;

	border-radius: 0.15em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: rgb(29, 29, 29);
	text-align: center;
	transition: all 0.2s;
	background-color: rgba(255, 255, 255, 0);
	height: 2.2em;
}

.submitBtn:hover {
	color: rgb(58, 58, 58);
	background-color: white;
	cursor: pointer;
}

.submitBtnSm {
	display: inline-block;
	padding: 0.1em 1.5em;
	padding-bottom: 0.3em;
	border: 0em solid white;

	border-radius: 0.15em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: rgb(41, 41, 41);
	text-align: center;
	transition: all 0.2s;
	background-color: rgba(255, 255, 255, 0);
	font-size: 0.7em;
}

.submitBtnSm:hover {
	color: rgb(59, 59, 59);
	background-color: white;
	cursor: pointer;
}

.textField {
	height: 2em;
	border-radius: 0.15em;
	border: none;
	font-family: "Oswald", sans-serif;
	padding: 2px;
	margin: 0.5em;
}

/*Saves Module*/
#hover-confirm-friend {
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	display: none;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10000;
}

#hover-confirm-friend > div {
	background-color: #fff;
	box-shadow: 10px 10px 60px #555;
	display: inline-block;
	height: auto;
	max-width: 300px;
	min-height: 100px;
	vertical-align: middle;
	top: 40%;
	width: 60%;
	position: relative;
	border-radius: 8px;
	padding: 15px 5%;
}

.friendCell > p {
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

.friendCell {
	border: 1px solid white;
	margin: 0.5em;
	padding: 0.5em 2em;
	transition: 0.4s;
}

.friendCell:hover {
	transform: scale(1.2);
	transition: 0.4s;
	background: rgba(255, 255, 255, 0.452);
	border-radius: 10px;
}

/* auth section styling */

#container {
	padding: 1em 0em;
}

hr {
	border: 0;
	clear: both;
	display: block;
	width: 96%;
	background-color: white;
	height: 2px;
	margin-top: 0em;
}

fieldset {
	border: white;
}

.auth-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
